/* ------ Global app parts ------ */
#app{
	width: 100%;
}
#mainContent , #mainAdminContent{
	margin: 10px;
	padding: 10px;
	width: 100%;
}

#appNotifications{
	padding: 10px;
	position:fixed;
    top:20px;	
    right:0px;
}

#appNotifications .message{
	border: 1px solid Grey;
}


/* ------ EventList View ------ */
#eventsList{
	margin: 10px;
	padding: 10px;	
}

#eventsList .event{
	float: left;
	width:150px;
	height:200px;
	border: 1px solid Black;
	padding:5px;
	margin: 5px;
}

#eventsList .event a{
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid Blue;
	text-decoration: none;
}

#eventsList .event .description {
	font-size: 10px;
	margin:10px;
}

#eventsList .event .date{
	font-size: 10px;
	margin:10px;
	font-weight: bold;	
}

/* ------ EventDetailedView View ------ */
#eventDetailedView{
	margin: 10px;
	padding: 10px;	
}

#eventDetailedView h1{
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid Black;
	text-decoration: none;	
}

#eventDetailedView .description {
	font-size: 10px;
	margin:10px;
}

#eventDetailedView .date{
	font-size: 10px;
	margin:10px;
	font-weight: bold;	
}



/* ------------------ */
/* ------ ADMIN------ */
/* ------------------ */

#eventAddView{
	margin:20px;
	padding: 10px;
	border: 1px solid Black;
	float: left;
}

#eventAddView h1{
	font-weight: bold;
	font-size: 10px;
	margin: 10px;
}


#eventEditView{
	margin:20px;
	padding: 10px;
	border: 1px solid Black;
	float: left;
}

#eventEditView h1{
	font-weight: bold;
	font-size: 10px;
	margin: 10px;
}



